group :development, :test do
  # gem "pry-byebug"             # pryでbyebugを利用する
  # gem "pry-rails", "~> 0.3.6"  # pryデバッガ。rails consoleでirbからpryへ
  # gem "ruby-debug-ide"         # Rubymineデバッガ
  # gem "debase"                 # Rubymineデバッガ
  # gem "meta_request"           # Chrome拡張RailsPanelを使うのに必要
end
